<%= @post.title%>
<%= @post.content%>

<h3>Categories</h3>
<% @post.categories.each do |category|%>
    <p><%= category.name%></p><br>
<%end%>

<h3>Comment content</h3>
<% @post.comments.each do |comment|%>
    <p><%= comment.content%></p><br>
<%end%>

<h3>Users</h3>
<% @post.users.uniq.each do |user|%>
    <p><%= link_to user.username, user_path(user)%></p>
<%end%>